.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 372px;
  margin: 0 auto;
  padding: 70px 0;
}

.inactive {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 145.2%;
  letter-spacing: 0.03em;
  color: #75869b;
}

.info {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 134%;
  letter-spacing: 0.03em;
  color: #254050;
}

.login {
  text-decoration: none;
  font-weight: bold;
  color: #016efc;
}

.errorValue {
  color: red;
  animation: 3s linear 1s infinite alternate slidein;
}
