.container {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 16px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 145.2%;
  letter-spacing: 0.03em;
  color: #016efc;
}

.text {
  max-width: 550px;
  margin-bottom: 50px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 134%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #254050;
}

.text a {
  text-decoration: none;
  color: #016efc;
}
